@media only screen and (min-width: 480px) {
    main {
        blockquote {
            font-size: 1.3em;
        }
    }
    body.about {
        table {
            table-layout: fixed;
            tr {
                display: table-row;
            }
            td:nth-child(even) {
                text-align: center;
            }
        }
    }
}
