<!doctype html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GA_ID }}');
    </script>
    <meta charset="utf-8">
    <title>{{ site_title }}{% if title and title != 'Home' %} - {{ title }}{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/img/icons/icon.png">
    <link rel="icon" href="/img/icons/favicon.png?v=0" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="{{ title|trim|lower|replace(" ", "-") }}">
    <header>
        <a href="/" class="logo">Vela</a>
        <nav>
            {% for p in main -%}
            <a href="/{{ p.path }}/">{{ p.title }}</a>
            {%- endfor %}
        </nav>
    </header>

    <main>
        {% if path -%}
        <h1>{{ title }}</h1>
        {%- endif %}
        {% if banner -%}
        <img src="/img/banners/{{ banner }}.jpg" alt="{{ title }} banner" class="banner">
        {%- endif %}
        {{ contents|safe }}
    </main>

    <footer>
        <nav>
            <a href="https://www.guidestar.org/profile/47-5330034" target="_blank">Guidestar</a>
            <a href="/privacy/">Privacy</a>
        </nav>
    </footer>
</body>
</html>
